.header-text {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.logo{
        justify-content: center;
        text-align: center;
        width: 150px;
        height: 40px;
    }
.he-1 {
    color: #DE3163;
}

.he-2 {
    color: #2ECC71;
}

@media only screen and (max-width: 900px) {
    .logo{
        justify-content: center;
        text-align: center;
        width: 100px;
        height: 50px;
    }
}
.bar {
    background-color: #E5E8E8;
}

.nav-button {
    color: #34495E;
}